// Specific CSS for your home-page
.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 120vh;
}

.container {
  margin-top: 85px;
}

body {
  color: white;
}
