.landing-text {
  text-decoration: none;
  color: white;
  line-height: 200px;
  margin-top: -85px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: "Rubik 80s Fade";
  font-size: 200px;
}
