.navbar {
  height: 70px;
  background: black;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-family: "Rubik 80s Fade";
  padding: 10px;
  letter-spacing: 3px;
}
