<h1>The Rainbow Road Garage</h1>

<ol>
  <% @cars.each do |car| %>
    <%= link_to car_path(car) do %>
      <li> <%= car.brand %> <%= car.model %> </li>
    <% end %>
    <hr>
  <% end %>
</ol>

<%= link_to "My favourite cars", favourites_path %>
